.card-cont{
 
   margin-left: 60px; 
width:160px;
   height: 160px;
   background: #FFFFFF;
   border: 1px solid rgba(33, 63, 125, 0.06);
   box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
   border-radius: 4px; 
   margin-bottom: 40px;
  
}
@media (max-width:500px) {
    .card-cont{
 
        
      }  
}